.sidebar {
  position: relative;
  background-color: var(--black-light);
  color: white;
  width: 22%;
  border-radius: 25px;
  display: flex;
  padding: 1rem;
  overflow: hidden;
  flex-direction: column;
  height: 90vh;
}

.sidebar-items {
  max-height: 70vh;
  overflow-y: scroll;
}

.sidebar-items::-webkit-scrollbar {
  width: 0;
}

.lock-btn {
  position: absolute;
  bottom: 0px;
  width: 90%;
  left: 0;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-light);
  border: 2px solid var(--black);
  border-radius: 25px;
  cursor: pointer;
}

.lock-btn button {
  color: white;
  font-size: 1.2rem;
  padding: 10px 50px;
}
